@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;

   .Toastify__toast-theme--dark {
        background: #282a36;
    }

    .Toastify__progress-bar--success {
        background: #50fa7b;
    }

    /*.apexcharts-tooltip {*/
    /*    color: #fff;*/
    /*    padding: 10px;*/
    /*    border-radius: 5px;*/
    /*    position: absolute;*/
    /*    transform: translateY(90px);*/
    /*    z-index: 1000;*/
    /*}*/

    /*.custom-tooltip {*/
    /*    display: flex;*/
    /*    flex-direction: column;*/
    /*    align-items: flex-start;*/
    /*}*/

    /*.apexcharts-tooltip-y-group {*/
    /*    display: flex;*/
    /*    flex-direction: column;*/
    /*    align-items: flex-start;*/
    /*}*/

    /*.apexcharts-tooltip-text-y-label,*/
    /*.apexcharts-tooltip-text-y-value {*/
    /*    display: block;*/
    /*    margin-bottom: 4px; !* Adjust as needed *!*/
    /*}*/
}
