@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;

    .Toastify__toast-theme--dark {
        background: #282a36;
    }

    .Toastify__progress-bar--success {
        background: #50fa7b;
    }

    .no-select {
        user-select: none; /* Disable text selection */
        -webkit-user-select: none; /* Safari */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
    }
}
